.cke_wordcount {display:block;float:right;margin-top:-2px;margin-right:3px;color:black;}

.cke_wordcountLimitReached {color:red! important}

.cke_bottom{
  border-style: none;
  padding:0;
  background-color: #fff;
  overflow: unset;
}
#cke_wordcount_editor{
  display: none;
  position: absolute;
  top: -40px;
  right: 0;
  z-index: 10;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  padding: 6px 16px;
  font-size: 12px;
}
